#/boot/iso/alma/AlmaLinux-10.1-x86_64-minimal.iso <- to test
#/boot/iso/alma/AlmaLinux-10-latest-x86_64-Live-GNOME.iso <- to test
#/boot/iso/alma/AlmaLinux-10-latest-x86_64-Live-KDE.iso <- OK
#/boot/iso/alma/AlmaLinux-10.1-x86_64-boot.iso <- to test

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain


menuentry "Live AlmaLinux 10.1 KDE" {
    isofile="/boot/iso/alma/AlmaLinux-10-latest-x86_64-Live-KDE.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}

menuentry "Live AlmaLinux 10.1 GNOME" {
    isofile="/boot/iso/alma/AlmaLinux-10-latest-x86_64-Live-GNOME.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}


menuentry "Install AlmaLinux 10.1 from minimal iso (need internet connection)" {
    isofile="/boot/iso/alma/AlmaLinux-10.1-x86_64-minimal.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=${isolabel} quiet iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}

menuentry "Install AlmaLinux 10.1 from boot iso" {
    isofile="/boot/iso/alma/AlmaLinux-10.1-x86_64-boot.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=${isolabel} quiet iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}

