#/boot/iso/arch/archlinux-2026.04.01-x86_64.iso <- OK


menuentry "Arch Linux install medium (x86_64) 2026.04.01" --class arch --class gnu-linux --class gnu --class os --id 'archlinux' {
   set isofile="/boot/iso/arch/archlinux-2026.04.01-x86_64.iso"
   search --no-floppy --set=archiso_img_dev --file "${isofile}"
   probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"
   set gfxpayload=keep
   loopback loop $isofile
   linux (loop)/arch/boot/x86_64/vmlinuz-linux archisobasedir=arch img_dev=UUID=${archiso_img_dev_uuid} img_loop="${isofile}" iso-scan/filename=${isofile}
   initrd (loop)/arch/boot/x86_64/initramfs-linux.img
}



