#/boot/iso/archcraft/archcraft-2026.02.02-x86_64.iso <- to test

menuentry "ArchCraft Live 2026.02.02" --class archcraft --class arch --class gnu-linux --class gnu --class os --id 'archlinux' {
   set isofile="/boot/iso/arch/archlinux-2026.04.01-x86_64.iso"
   search --no-floppy --set=archiso_img_dev --file "${isofile}"
   probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"
   set gfxpayload=keep
   loopback loop $isofile
   linux (loop)/arch/boot/x86_64/vmlinuz-linux archisobasedir=arch img_dev=UUID=${archiso_img_dev_uuid} img_loop="${isofile}" quiet splash loglevel=3 udev.log_level=3 vt.global_cursor_default=0 cow_spacesize=5G copytoram=n nvme_load=yes lsm=landlock,lockdown,yama,integrity,apparmor,bpf  iso-scan/filename=${isofile}
   initrd (loop)/arch/boot/x86_64/initramfs-linux.img
}





