#/boot/iso/canaima/canaima-8.3-kde_amd64.iso <- to test

menuentry "Canaima 8.3 KDE - Live" {
    isofile="/boot/iso/canaima/canaima-8.3-kde_amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/live/vmlinuz-6.12.43-amd64 boot=live locales=es_ES.UTF-8 keyboard-layouts=es swap config username=canaima live-config.hostname=canaima live-config.user-default-groups=audio,cdrom,floppy,video,dip,plugdev,scanner,bluetooth,netdev,sudo findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.43-amd64
}

