#boot/iso/debian/debian-live-13.4.0-amd64-kde.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-mate.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-xfce.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-lxde.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-cinnamon.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-lxqt.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-standard.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-debian-junior.iso <- OK
#boot/iso/debian/debian-live-13.4.0-amd64-gnome.iso <- OK
# Not installed:
#boot/iso/debian/debian-13.2.0-amd64-DVD-1.iso

menuentry "Debian 13.4.0 Live KDE amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-kde.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live mate  amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-mate.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live xfce amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-xfce.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live lxde amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-lxde.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live cinnamon amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-cinnamon.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live  lxqt amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-lxqt.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live standard amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-standard.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live debian-junior amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-debian-junior.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}

menuentry "Debian 13.4.0 Live gnome amd64" {
    insmod ext2
    isofile="/boot/iso/debian/debian-live-13.4.0-amd64-gnome.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.12.73+deb13-amd64 boot=live components quiet splash findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.12.73+deb13-amd64
}


