#/boot/iso/fedora/Fedora-Cinnamon-Live-x86_64-43-1.6.iso <- to test
#/boot/iso/fedora/Fedora-Workstation-Live-43-1.6.x86_64.iso <- OK
#/boot/iso/fedora/Fedora-KDE-Desktop-Live-43-1.6.x86_64.iso <- OK
#/boot/iso/fedora/Fedora-Server-dvd-x86_64-43-1.6.iso <- OK
#/boot/iso/fedora/Fedora-Budgie-Live-43-1.6.x86_64.iso <- to test


if [ "$grub_platform" == "efi" ]; then
        function load_video {
                insmod efi_gop
                insmod efi_uga
                insmod video_bochs
                insmod video_cirrus
                insmod all_video
        }
        set basicgfx="nomodeset"
else
        function load_video {
                insmod all_video
        }
        set basicgfx="nomodeset vga=791"
fi

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

menuentry "Live Fedora 43-1.6 KDE" {
    isofile="/boot/iso/fedora/Fedora-KDE-Desktop-Live-43-1.6.x86_64.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/boot/x86_64/loader/linux root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/boot/x86_64/loader/initrd
}


menuentry "Live Fedora 43-1.6 Cinnamon" {
    isofile="/boot/iso/fedora/Fedora-Cinnamon-Live-x86_64-43-1.6.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}


menuentry "Live Fedora 43-1.6 Workstation (Gnome)" {
    isofile="/boot/iso/fedora/Fedora-Workstation-Live-43-1.6.x86_64.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/boot/x86_64/loader/linux root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/boot/x86_64/loader/initrd
}



menuentry "Live Fedora 43-1.6 Budgie" {
    isofile="/boot/iso/fedora/Fedora-Budgie-Live-43-1.6.x86_64.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/boot/x86_64/loader/linux root=live:CDLABEL=${isolabel}  rd.live.image quiet rhgb iso-scan/filename=${isofile}
    initrd (loop)/boot/x86_64/loader/initrd
}


menuentry "Install Fedora 43-1.6 (Server dvd)" {
    isofile="/boot/iso/fedora/Fedora-Server-dvd-x86_64-43-1.6.iso"
    loopback loop "${isofile}"
    probe --set isolabel --label (loop)
    linux (loop)/images/pxeboot/vmlinuz inst.stage2=hd:LABEL=${isolabel}  quiet iso-scan/filename=${isofile}
    initrd (loop)/images/pxeboot/initrd.img
}





