#/boot/iso/gentoo/install-amd64-minimal-20260419T164601Z.iso <- to test
#/boot/iso/gentoo/livegui-amd64-20260419T164601Z.iso

set gfxpayload=keep
insmod all_video
insmod png
insmod gfxterm
terminal_output gfxterm

# menuentry "Gentoo 2026 (19/04/2026) minimal installation AMD64 " {
#     set isofile='/boot/iso/gentoo/install-amd64-minimal-20260419T164601Z.iso'
#     loopback loop $isofile
#     linux (loop)/boot/gentoo isoboot=$isofile root=/dev/ram0 init=/linuxrc dokeymap looptype=squashfs loop=/image.squashfs cdroot docache initrd=gentoo.igz
#     initrd (loop)/boot/gentoo.igz
# }
# 

menuentry "Gentoo 2026 (19/04/2026) minimal installation AMD64 " {
    set isofile='/boot/iso/gentoo/install-amd64-minimal-20260419T164601Z.iso'
    loopback loop $isofile
    probe --set isolabel --label (loop)
    linux (loop)/boot/gentoo dokeymap  nodhcp root=live:CDLABEL=S{isolabel} rd.live.dir=(loop)/ rd.live.squashimg=image.squashfs cdroot iso-scan/filename=${isofile}
    initrd (loop)/boot/gentoo.igz
}

