insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod exfat
insmod udf
insmod ext2

rmmod tpm
search --set=root --fs-uuid a9677986-be13-490e-bc5b-74e9d97d80db --hint hd0,3
insmod all_video

submenu 'Debian-based' {

	submenu 'Linux Mint' {
	  configfile /boot/grub/mint.cfg
	}
	submenu 'Ubuntu'{
	   configfile /boot/grub/ubuntu.cfg
	}
	submenu 'Neon'{
	   configfile /boot/grub/neon.cfg
	}
	submenu 'debian'{
	   configfile /boot/grub/debian.cfg
	}
	submenu 'tuxedo'{
	   configfile /boot/grub/tuxedo.cfg
	}
	submenu 'canaima'{
	   configfile /boot/grub/canaima.cfg
	}
	submenu 'kali'{
	   configfile /boot/grub/kali.cfg
	}
	submenu 'popos'{
	   configfile /boot/grub/popos.cfg
	}
}

submenu 'Linux Mint Live' {
  configfile /boot/grub/mint.cfg
}

submenu 'Ubuntu'{
   configfile /boot/grub/ubuntu.cfg
}

submenu 'Neon'{
   configfile /boot/grub/neon.cfg
}

submenu 'debian'{
   configfile /boot/grub/debian.cfg
}

submenu 'manjaro'{
   configfile /boot/grub/manjaro.cfg
}
submenu 'fedora'{
   configfile /boot/grub/fedora.cfg
}
submenu 'blackarch'{
   configfile /boot/grub/blackarch.cfg
}
submenu 'arch'{
   configfile /boot/grub/arch.cfg
}
submenu 'gentoo'{
   configfile /boot/grub/gentoo.cfg
}
submenu 'solus'{
   configfile /boot/grub/solus.cfg
}
submenu 'scientificlinux'{
   configfile /boot/grub/scientificlinux.cfg
}
submenu 'rocky'{
   configfile /boot/grub/rocky.cfg
}
submenu 'garuda'{
   configfile /boot/grub/garuda.cfg
}
submenu 'alma'{
   configfile /boot/grub/alma.cfg
}
submenu 'tuxedo'{
   configfile /boot/grub/tuxedo.cfg
}
submenu 'bsd'{
   configfile /boot/grub/bsd.cfg
}
submenu 'canaima'{
   configfile /boot/grub/canaima.cfg
}
submenu 'kali'{
   configfile /boot/grub/kali.cfg
}
submenu 'popos'{
   configfile /boot/grub/popos.cfg
}
submenu 'archcraft'{
   configfile /boot/grub/archcraft.cfg
}
submenu 'opensuse'{
   configfile /boot/grub/opensuse.cfg
}

submenu 'windows'{
   configfile /boot/grub/windows.cfg
}
submenu 'other'{
   configfile /boot/grub/other.cfg
}
menuentry 'Reboot Computer' --class restart {
reboot
}

