#/boot/iso/kali/kali-linux-2026.1-live-everything-amd64.iso <- to test
#/boot/iso/kali/kali-linux-2026.1-installer-amd64.iso <- to test

insmod ext2

menuentry "Kali 2026.1 Live (Everything, amd64)" {
    isofile="/boot/iso/kali/kali-linux-2026.1-live-everything-amd64.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.18.12+kali-amd64 boot=live components quiet splash noeject findiso=${isofile}
    initrd  (loop)/live/initrd.img-6.18.12+kali-amd64
}

menuentry "Kali 2026.1 Live (Everything, amd64, forensic mode)" {
    isofile="/boot/iso/kali/kali-linux-2026.1-live-everything-amd64.iso"
    loopback loop "${isofile}"
    linux   (loop)/live/vmlinuz-6.18.12+kali-amd64 boot=live components noeject memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal
    initrd  (loop)/live/initrd.img-6.18.12+kali-amd64
}

menuentry "Kali 2026.1 Graphical expert install (Installer iso)" {
    isofile="/boot/iso/kali/kali-linux-2026.1-live-everything-amd64.iso"
    loopback loop "${isofile}"
    linux    (loop)/install.amd/vmlinuz net.ifnames=0 preseed/file=(loop)/simple-cdd/default.preseed (loop)/simple-cdd/profiles=kali,offline desktop=xfce priority=low vga=788 ---
    initrd   (loop)/install.amd/gtk/initrd.gz
}





