#./boot/iso/mint/linuxmint-22-cinnamon-64bit.iso
#./boot/iso/mint/linuxmint-22-xfce-64bit.iso
#./boot/iso/mint/linuxmint-22-mate-64bit.iso

menuentry 'Linux Mint Cinnamon 22 Live ISO'  {
    set isofile="/boot/iso/mint/linuxmint-22-cinnamon-64bit.iso"
    loopback loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G
    initrd (loop)/casper/initrd.lz
}

menuentry 'Linux Mint XFCE 22 Live ISO'  {
    set isofile="/boot/iso/mint/linuxmint-22-xfce-64bit.iso"
    loopback loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G
    initrd (loop)/casper/initrd.lz
}

menuentry 'Linux Mint MATE 22 Live ISO'  {
    set isofile="/boot/iso/mint/linuxmint-22-mate-64bit.iso"
    loopback loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename= quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G
    initrd (loop)/casper/initrd.lz
}


