#/boot/iso/neon/neon-user-20260409-1329.iso <- OK (problems in the grub interface)


function load_video {
        insmod all_video
}

if loadfont /boot/grub/unicode.pf2 ; then
        set gfxmode=auto
        load_video
        insmod gfxterm
        set locale_dir=$prefix/locale
        set lang=en_US
        insmod gettext
fi
terminal_output gfxterm

load_video

set gfxpayload=keep

menuentry "Kde Neon 2026 Live ISO (09/04/2026) apparmor deactivated" {
    set isofile="/boot/iso/neon/neon-user-20260409-1329.iso"
    loopback loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash apparmor=0
    initrd (loop)/casper/initrd
}



