#/boot/iso/opensuse/Leap-16.0-online-installer-x86_64.install.iso
#/boot/iso/opensuse/openSUSE-Tumbleweed-XFCE-Live-x86_64-Snapshot20260422-Media.iso
#/boot/iso/opensuse/openSUSE-Tumbleweed-GNOME-Live-x86_64-Snapshot20260422-Media.iso
#/boot/iso/opensuse/openSUSE-Tumbleweed-NET-x86_64-Snapshot20260422-Media.iso
#/boot/iso/opensuse/openSUSE-Tumbleweed-KDE-Live-x86_64-Snapshot20260422-Media.iso
