#/boot/iso/popos/pop-os_24.04_amd64_generic_24.iso

menuentry "Pop OS 24.04 Live (amd64 generic)" {
    isofile="/boot/iso/popos/pop-os_24.04_amd64_generic_24.iso"
    loopback loop "${isofile}"
    linux (loop)/casper_pop-os_24.04_amd64_generic_debug_561/vmlinuz.efi boot=casper live-media-path=(loop)/casper_pop-os_24.04_amd64_generic_debug_561 hostname=pop-os username=pop-os noprompt quiet splash iso-scan/filename=${isofile} ---
    initrd (loop)/casper_pop-os_24.04_amd64_generic_debug_561/initrd.gz

}

