#/boot/iso/slackware/slackware64-15.0-install-dvd.iso <- to test


menuentry "Slackware 15.0 Install DVD" {
    isofile="/boot/iso/slackware/slackware64-15.0-install-dvd.iso"
    loopback loop "${isofile}"
    linux (loop)/kernels/huge.s/bzImage vga=normal load_ramdisk=1 prompt_ramdisk=0 ro printk.time=0 nomodeset SLACK_KERNEL=huge.s iso-scan/filename=${isofile}
    initrd (loop)/isolinux/initrd.img
}

