#/boot/iso/ubuntu/edubuntu-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/lubuntu-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntukylin-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/kubuntu-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/edubuntu-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-budgie-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-budgie-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-22.04-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntucinnamon-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/lubuntu-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-24.04.1-live-server-amd64.iso
#/boot/iso/ubuntu/ubuntu-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-mate-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/xubuntu-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntustudio-24.04.1-dvd-amd64.iso
#/boot/iso/ubuntu/xubuntu-24.04.1-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-25.10-live-server-amd64.iso
#/boot/iso/ubuntu/ubuntustudio-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/kubuntu-25.10-desktop-amd64.iso
#
