#/boot/iso/ubuntu/xubuntu-24.04.1-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/xubuntu-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntukylin-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntu-mate-25.10-desktop-amd64.iso
#/boot/iso/ubuntu/ubuntucinnamon-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/ubuntu-budgie-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/lubuntu-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/ubuntu-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/ubuntustudio-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/edubuntu-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/kubuntu-26.04-desktop-amd64.iso <- OK
#/boot/iso/ubuntu/ubuntu-26.04-live-server-amd64.iso <- OK

menuentry "Ubuntu 26.04 LTS - Live" {
    isofile="/boot/iso/ubuntu/ubuntu-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}

menuentry "Ubuntu Server 26.04 LTS - Live" {
    isofile="/boot/iso/ubuntu/ubuntu-26.04-live-server-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G
    initrd (loop)/casper/initrd
}

menuentry "Kubuntu 26.04 LTS Live ISO" {
    set isofile="/boot/iso/ubuntu/kubuntu-26.04-desktop-amd64.iso"
    loopback loop $isofile
    linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash vt.global_cursor_default=0 loglevel=2 rd.systemd.show_status=false rd.udev.log-priority=3 sysrq_always_enabled=1 cow_spacesize=1G
    initrd (loop)/casper/initrd
}


menuentry "Lubuntu 26.04 LTS - Live" {
    isofile="/boot/iso/ubuntu/lubuntu-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}


menuentry "Edubuntu 26.04 LTS - Live" {
    isofile="/boot/iso/ubuntu/edubuntu-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}

menuentry "Ubuntu budgie 26.04 LTS - Live" {
    isofile="/boot/iso/ubuntu/ubuntu-budgie-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}

menuentry "UbuntuStudio Live 26.04 LTS" {
    isofile="/boot/iso/ubuntu/ubuntustudio-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}

menuentry "Ubuntu Cinnamon Live 26.04 LTS" {
    isofile="/boot/iso/ubuntu/ubuntucinnamon-26.04-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}


menuentry "Xubuntu 24.04.1 LTS Live " {
    isofile="/boot/iso/ubuntu/xubuntu-24.04.1-desktop-amd64.iso"
    loopback loop "${isofile}"
    linux (loop)/casper/vmlinuz iso-scan/filename="${isofile}" boot=casper quiet splash ---
    initrd (loop)/casper/initrd
}




